HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
SENDGRID_API_KEY=SG.OMvrs13dzWin8bgu3PVJQhCJNBrBpTwJ

# REDIS Setup
REDIS_PASSWORD=CreativePoint@2090
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0